@import url(http://fonts.googleapis.com/css?family=Raleway);
/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/

h2 {
    background-color:#FEFFED;
    text-align:center;
    border-radius:10px 10px 0 0;
    margin:-10px -40px;
    padding:15px
}
hr {
    border:0;
    border-bottom:1px solid #ccc;
    margin:10px -40px;
    margin-bottom:30px
}
html{
    height: 90%;
    overflow: hidden;
}
body{
    margin:0 22%;
    background-color: #F8EBEB;
    height: 90%;
}
#profile {
    padding:50px;
    border:1px dashed grey;
    font-size:20px;
    background-color:#DCE6F7
}
#logout{
    float:right !important;
}
a {
    text-decoration:none;
    color:#6495ed
}
i {
    color:#6495ed
}

#encabezado{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 15px 15px 0 0;
}

#encabezado li {
    float: left;
}

#encabezado li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.contenido{
    padding: 50px;
    background-color: #cccccc;
    height: 88%;
    margin-bottom: 0;
    position: relative;
    z-index: 30;
}
footer{
    border-radius:0 0 15px 15px;
    background-color: #333;
    height: 50px;
    margin-top:-16px;
}
footer>p{
    color: white;
    width: 100%;
    padding-top: 13px;
    padding-left: 40%;

}

.edit-icon{
    margin-top: 5px;
    margin-left: 10px;
    width: 20px;
}
.edit-icon:hover{
    cursor: pointer;
}
table{
    border-radius: 20px;

}

table, th, td {
    border: 4px solid #F8EBEB;
    width: 80%;
    background-color: #cccccc;
}
th, td {
    padding: 5px;
    text-align: center;
}

.respuestas{
    display: none;
}
#aside_letf{    /*bolsita y vendidos*/
    position: fixed;
	height: 120px;
	width: 220px;
	margin: -600px 0 0 60%;
    z-index: 40;

}
.imagen {
	height:130px;
	width:130px;
	display:block;
}
#loli{   
  color:green;  
}


/*Keyframes*/

.alert {
    text-align: center;
    padding: 10px;
    width: 400px;
    background-color: #f44336;
    color: white;
    border-radius: 13px;
    opacity: 0.8;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    position: fixed;
    z-index: 40;
    top: 50px;
    left:40%;
}

.alert.success {background-color: #4CAF50;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
